# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
Makefile
README
.lwpcookies
Build
data
_build
Tie-Textdir*META.json
META.yml
Makefile.PL
MYMETA.json
MYMETA.yml
META.json
Tie-TextDir*
.idea
blib
